<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>redis manager</title>
    <style>
        body {
            background-color: antiquewhite;
        }
        .header img{
            width: 30px;
            float: left;
        }
        button{
            width: 100px;
            border-radius: 3px;
            background-color: transparent;
        }
    </style>
</head>
<body>
<div class="header">
    <img src="img/0.png">
    <p>云飞扬</p>
</div>
<div class="manager">
    <input type="text" id="key" value="17721021494" placeholder="请输入key值"/>
    <button class="getInfoByKey" onclick="getName()">获取</button>
    <div contenteditable="true" id="my">

    </div>
</div>
</body>

<script>
    var CatchClass = require('../redis/CatchClass');
    var client = new CatchClass('QueryBaseInfoCatch', '获取设备基本信息');

    var getName = function () {
        var deviceId = document.getElementById("key").value;
        client.getCache(deviceId, function (data) {
            console.log(JSON.stringify(data))
            document.getElementById("my").innerHTML = JSON.stringify(data);
        });
    }

</script>
</html>
